body {
    background: url(../images/trees.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}ƒ
body::after {
    background: url(../images/trees.jpg);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
/*Navbar*/
.nav-item {
    font-family: 'Quicksand', sans-serif;
}
#wrapper {
    width: 960px;
    height: 600px;
    padding: 10px;
    margin: 20px auto 0px auto;
    background-color: rgba(255, 255, 255, .7);
}

/*About page*/
.container {
    margin: 10px 0px 0px 10px;
}
h1 {
    font-family: 'Shadows Into Light Two', cursive;

}
#biopic {
    z-index: 2000;
    opacity: 100%;
    border: 5px white;
    margin-top: 20px;
    box-shadow: 5px 5px 2px grey;
}
.p {
    margin-left: 7px;
    text-align: justify;
    font-family: 'Shadows Into Light Two', cursive;

}

.card-title {
    font-family: 'Shadows Into Light Two', cursive;
}
.card-text {
    font-family: 'Shadows Into Light Two', cursive;
}
.card-link {
    font-family: 'Shadows Into Light Two', cursive;
}


/*Portfolio Page*/
.portfolio {
    font-family: 'Shadows Into Light Two', cursive;
}

/*First*/
.first {
    position: relative;
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 2px grey;
}
.first img {
    width: 100%;
}
.wordgames {
    position: absolute;
    top: 60%;
    background-color: white;
    color: rgb(14, 139, 133);
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 24px;
    padding: 5px;   
    width: 100%;
    opacity: 100%;
}
/*Second*/
.second {
    position: relative;
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 2px grey;

}
.second img {
    width: 100%;
}
.rpg {
    position: absolute;
    top: 60%;
    background-color: white;
    color: rgb(14, 139, 133);
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 24px;
    padding: 5px;   
    width: 100%;
}
/*Third*/
.third {
    position: relative;
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 2px grey;

}
.third img {
    width: 100%;
}
.trivia {
    position: absolute;
    top: 60%;
    background-color: white;
    color: rgb(14, 139, 133);
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 24px;
    padding: 5px;   
    width: 100%;
}
/*Fourth*/
.fourth {
    position: relative;
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 2px grey;

}
.fourth img {
    width: 100%;
}
.rutgers {
    position: absolute;
    top: 60%;
    background-color: white;
    color: rgb(14, 139, 133);
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 24px;
    padding: 5px;   
    width: 100%;
}
/*Fifth*/
.fifth {
    position: relative;
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 2px grey;

}
.fifth img {
    width: 100%;
}
.rock {
    position: absolute;
    top: 60%;
    background-color: white;
    color: rgb(14, 139, 133);
    text-align: center;
    font-size: 24px;
    font-family: 'Shadows Into Light Two', cursive;
    padding: 5px;   
    width: 100%;
}

/*Contact Page*/

.col-12 {
    font-family: 'Shadows Into Light Two', cursive;
}
.col-sm-10 {
    font-family: 'Quicksand', sans-serif;
}
.form-control {
    font-family: 'Quicksand', sans-serif;
}
.form {
    margin: 0 auto;
}

/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: gray;
    text-align: center;
 }


/*Media Query*/
@media screen and (max-width: 959px) {
    #wrapper {
        width: 100%;
    }
}
@media screen and (max-width: 640px) {
    #wrapper {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    #wrapper {
        width: 320px;
    }
}

/*animation*/
h1 {
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    0%   {background-color: white; left:0px; top:0px;}
    25%  {background-color: whitesmoke; left:200px; top:0px;}
    50%  {background-color: gray; left:200px; top:200px;}
    75%  {background-color: whitesmoke; left:0px; top:200px;}
    100% {background-color: white; left:0px; top:0px;}